</div>

<div id="footer">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        {% include nav.html %}
     	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style_32x32" align = 'right' >
	<span class="jiathis_txt">Follow Me: </span>
	<!--以下是QQ邮件列表订阅嵌入代码-->
	<a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=5a85167371b46933d0bc4c34fafde1c321e818e66b8c6a1f">
		<img border="0" alt="填写您的邮件地址，订阅我们的精彩内容：" 
		src="img/web/email_32.png" />
	</a>
	<a class="jiathis_follow_tsina" rel="http://weibo.com/1668843440"></a>
	
	<a class="jiathis_follow_weixin" rel="http://shellfish.cn/img/WeChat.jpg"></a>
	</div>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1374987455544291" charset="UTF-8"></script>
	<!-- JiaThis Button END -->
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <p>{{ site.disclaimer }}</p>
        <p>&copy; 2013 {{ site.name }}</p>
      </div>
    </div>
  </div>
</div>

<script src="/js/jquery-1.9.1.min.js"></script>

<script>
$(document).ready(function() {
  //$(".twitter-tweet").css("margin-top", "20px").css("margin-bottom", "20px").css("margin-left", "auto").css("margin-right", "auto");
}); 
</script>

<body>
</html>
