{% include header.html %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <hgroup>
                    <h1>{{ page.title }}</h1>
                </hgroup>
                <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
                {{ content }}
		<!-- JiaThis Button BEGIN -->
		<div class="jiathis_style">
			<span class="jiathis_txt">分享到：</span>
			<a class="jiathis_button_qzone"></a>
			<a class="jiathis_button_tsina"></a>
			<a class="jiathis_button_tqq"></a>
			<a class="jiathis_button_weixin"></a>
			<a class="jiathis_button_renren"></a>
			<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
			<a class="jiathis_counter_style"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1374987455544291" charset="utf-8"></script>
		<!-- JiaThis Button END -->
		<br/>
		<hr/>
		<!-- Duoshuo Comment BEGIN -->
		<div class="ds-thread"></div>
		<script type="text/javascript">
		var duoshuoQuery = {short_name:"shellfish"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = 'http://static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			|| document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
		<!-- Duoshuo Comment END -->
            </div>        
        </div>
    </div>

{% include footer.html %}
